*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* Jade - start */
/* ================================
   Main Section
   ================================ */
/* Description about bakery style */
.about-bakery{
    width: 100vw;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 470px 470px;
    padding: 120px 120px 0 120px;
    gap: 40px;
}

.about-bakery a,
.order-cake-section a,
footer a{
    text-decoration: none;
}

.about-desc h3{
    color: #4a1d1f;
    padding: 20px 0;
    font-size: 38px;
    font-weight: 500;
}

.about-desc p{
    font-size: 19px;
    font-weight: 300;
    padding-bottom: 20px;
}

.about-desc a:link,
.about-desc a:visited{
    color: #4a1d1f;
    font-size: 18px;
    font-weight: 300;
}

.about-desc a:hover {
    color: #b3474a;
    text-shadow: 0 0 6px #b3474a;
}

.about-desc a:active {
    color: #8a1a1d;
    text-shadow: 0 0 10px #8a1a1d; 
    transform: translateY(1px);
}

.about-img-wrapper img{
    width: 600px;
    height: 300px;
    border-radius: 30px;
}

.img-right{
    text-align: right;
}

.img-left{
    text-align: left;
}

/* Cake order style */
.order-cake-section{
    width: 100vw;
    background-color: #fff3d0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 60px 0;
    text-align: center;
    gap: 20px;
}

.order-cake-section h3{
    font-size: 35px;
    color: #4a1d1f;
}

.order-cake-section p {
    font-size:20px;
    font-weight: 300;
}

.order-cake-section > div,
.order-cake-section a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-cake-section a:link,
.order-cake-section a:visited{
    width: 180px;
    height: 50px;
    background-color: #4a1d1f;
    color: #ffffff;
    border-radius: 10px;
}

.order-cake-section a:hover {
    background-color: #6b292b;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.order-cake-section a:active {
    background-color: #3e1214;
    box-shadow: inset 0 4px 6px rgba(0,0,0,0.5);
    transform: translateY(1px);
}

/* Quotes style */
.quotes-section{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto 200px;
    width: 100vw;
    background-color: #ffffff;
    padding: 80px 180px;
}

.quotes-section > div{
    justify-self: center;
}

.quotes-title{
    width: 85px;
    height: 22px;
    border-radius: 10px;
    background-color: #fff3d0;
    text-align: center;
}

.quotes-wrapper{
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 80px;
}

.quotes-wrapper > div{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.quotes-left,
.quotes-right{
    font-family: "Montagu Slab", serif;
    font-size: 220px;
    font-weight: 500;
}

.quotes-left{
    align-self: baseline;
    position: relative;
    top: -80px;
    left: 70px;
    background: linear-gradient(to bottom, #fdcb5d 0%, #fdcb5d 10%, #ffffff 50%, #ffffff 100%);
    background-clip: text;
    color: transparent;
    z-index: 1;
}

.quotes-right{
    align-self: end;
    position: relative;
    top: -200px;
    right: 90px;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 20%, #fdcb5d 50%, #fdcb5d 100%);
    background-clip: text;
    color: transparent;
}

.quotes-wrapper > p{
    position: relative;
    font-size: 50px;
    font-weight: 500;
    z-index: 2;
}

.quotes-speaker{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.quotes-speaker img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.quotes-speaker h4{
    font-size: 30px;
    font-weight: 600;
    color: #4a1d1f;
}

.quotes-speaker p {
    font-size: 18px;
}

.quotes-speaker .dots-wrapper{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.dots-wrapper .dots{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff3d0;
    z-index: 10;
}

.dots-wrapper .dots:nth-child(2){
    background-color: #4a1d1f;
}

.dots-wrapper .dots:hover {
    background-color: #6b292b;
    box-shadow: 0 6px 10px rgba(0,0,0,0.3);
}

.dots-wrapper .dots:active {
    background-color: #3e1214;
    width: 12px;
    height: 12px;
}

/* ================================
   Footer Section
   ================================ */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff3d0;
    width: 100vw;
    height: 250px;
    color: #000000;
}

.footer-nav-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 60px 70px 30px 70px;
}

footer h4{
    color: #4a1d1f;
    font-size: 30px;
    font-weight: 400;
}

footer nav{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
}

footer ul{
    display: flex;
    gap: 60px;
    list-style: none;
}

footer ul a:link,
footer ul a:visited{
    color: #000000;
}

footer ul a:hover{
    text-decoration: underline;
}

footer ul a:active{
    font-weight: 600;
}

#footer-line{
    border-bottom: 1px solid #4a1d1f2d;
    display: inline-block;
    width: 100%;
}

footer div nav,
footer div p{
    font-size: 18px;
}

.footer-copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px 70px;
}

.icons{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: 1fr;
    gap: 24px;
    margin-top: auto;
    margin-right: 40px;
}

.icons img{
    width: 20px;
}

/* Jade - end */


/* Javier - start */
body{
    overflow-x: hidden;
}

header{
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    gap: 200px;
}

header h2{
    color: #4a1d1f;
    font-size: 30px;
    font-weight: 400;
}


header nav ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

header ul li a{
    text-decoration: none;
    color: black;
}

nav.header-nav ul li a div{
    display: flex;
    align-items: center; 
    gap: 2px; 
}

nav.header-nav ul li a div span:last-child{
    display: inline-block;
    transform: translateY(-5px);
}

header .login-input{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

header input{
    border-radius: 2px 0px 0px 2px;
    border: 1px #4a1d1f solid;
}

.searching-div{
    display: flex;
}

.login-input .searching-div input{
    height: 40px;
    width: 200px;
}

.login-input .searching-div div{
    background-color: #4a1d1f;
    height: 40px;
    width: 40px;
}

.searching-div div a{
    display: grid;
    width: 100%;
    height: 100%;
}

.searching-div div a svg{
    justify-self: center;
    align-self: center;
}


.login-input a{
    align-content: center;
}

.login-input a svg{
    width: 30px;
}

main .first-section{
    display: grid;
    margin-left: 120px;
    padding-top: 60px;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 600px 350px;
    justify-self: center;
}

section:first-of-type{
    background-image: linear-gradient(to right, #ffffff, #fdf7e9, #fdf9ed);
}


main section .left-side{
    padding-top: 50px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.left-side h3{
    color: #4a1d1f;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 10px;
}

.left-side p{
    font-size: 26px;
    font-weight: 300;
}

.left-side a{
    text-decoration: none;
}

.left-side .order-menus{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 160px 180px;
    column-gap: 15px;
}

.left-side .order{
    background-color: #4a1d1f;
    border-radius: 3px;
    width: 160px;
    height: 50px;
    display: grid;

}

.left-side .order a{
    color:#e2c9ca;
    justify-self: center;
    align-self: center;
    font-size: 20px;
    font-weight: 400;

}

.left-side .menus{
    background-color: white;
    border: 1px #4a1d1f solid;
    width: 180px;
    height: 50px;
    border-radius: 3px;
    display: grid;
}

.left-side .menus a{
    justify-self: center;
    align-self: center;
    color: #4a1d1f;
    font-size: 20px;
    font-weight: 400;
}

main section .right-side{
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 /3;
    position: relative;
    overflow: hidden;
    max-width: 100%;

}

main section .right-side img{
    width: 800px;
    position: absolute;
    justify-self: end;
}

.right-side .slide-1{
    border-radius: 80px 0px 0px 80px;
    height: 180px;
    width: 840px;
    display: grid;
    grid-template-columns: 22px 50px 22px 220px 220px 220px;
    grid-template-rows: 120px;
    justify-content: end;
    z-index: 1;
    position: absolute;
    justify-self: normal;
    align-self: end;
    column-gap: 10px;
    background-color: rgba(255, 250, 250, 0.585);
    margin-left: 20px;
    padding: 20px 0px 20px 20px;
    color: #FFFFFF; 
    
}
.right-side .slide-1 fir-1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.right-side .slide-1 a{
    text-decoration: none;
    color: #4a1d1f;
    align-self: center;
}

.right-side .slide-1 p{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: #4a1d1f;
    align-self: center;
    justify-self: center;
}

.right-side .slide-1 .image-slide-1{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.right-side .slide-1 .image-slide-2{
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}

.right-side .slide-1 .image-slide-3{
    grid-column: 6 / 7;
    grid-row: 1 / 2;
}

.right-side .slide-1 img{
    width: 220px;
    height: 120px;
    align-self: center;
    border-radius: 10px;
}

.h3-class{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    color: #4a1d1f;
    font-size: 55px;
    font-weight: 600;
    align-self: center;

}

.vertical-line{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 100px;
    width: 0px;
    border: 1px solid #4a1d1f;
    align-self: center;
    justify-self: end;
}

.p-class{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: center;
    padding: 0px 70px;
    font-size: 22px;
    font-weight: 300;
    
}

section .section-slide-menu-2{
    display: grid;
    margin-left: 120px;
    grid-template-columns: repeat(4, 230px);
    grid-template-rows: 280px 50px 20px 100px;
    row-gap: 10px;
    column-gap: 60px;
    overflow: hidden;
}

.section-slide-menu-2 .image-one-slide{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
} 

.section-slide-menu-2 div img{
    width: 230px;
    height: 280px;
    border-radius: 25px;
}

.section-slide-menu-2 div{
    justify-self: center;
}

.section-slide-menu-2 .image-two-slide{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.section-slide-menu-2 .image-three-slide{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.section-slide-menu-2 .image-four-slide{
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}

.section-slide-menu-2 .image-five-slide{
    grid-row: 1 / 2;
    grid-column: 5 / 6;
}

.section-slide-menu-2 .p-one-slide{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.section-slide-menu-2 .p-two-slide{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.section-slide-menu-2 .p-three-slide{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.section-slide-menu-2 .p-four-slide{
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

.section-slide-menu-2 .p-five-slide{
    grid-row: 2 / 3;
    grid-column: 5 / 6;
}


.section-slide-menu-2 .star-1{
    align-self: center;
    justify-self: center;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.section-slide-menu-2 .star-2{
    align-self: center;
    justify-self: center;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.section-slide-menu-2 .star-3{
    align-self: center;
    justify-self: center;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.section-slide-menu-2 .star-4{
    align-self: center;
    justify-self: center;
    grid-row: 3 / 4;
    grid-column: 4 / 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}.section-slide-menu-2 .star-5{
    align-self: center;
    justify-self: center;
    grid-row: 3 / 4;
    grid-column: 5 / 6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}


.section-slide-menu-2 .star-1 p{
    font-size: 14px;
    font-weight: 200;
    color: gray;
}
.section-slide-menu-2 .star-2 p{
    font-size: 14px;
    font-weight: 200;
    color: gray;
}
.section-slide-menu-2 .star-3 p{
    font-size: 14px;
    font-weight: 200;
    color: gray;
}
.section-slide-menu-2 .star-4 p{
    font-size: 14px;
    font-weight: 200;
    color: gray;
}
.section-slide-menu-2 .star-5 p{
    font-size: 12px;
    font-weight: 200;
    color: gray;
}

.rating {
  font-size: 28px; 
  color: #ccc;
}

.star {
  cursor: pointer;
}


.filled {
  color: #ffaa00; 
}


.empty {
  color: #ffaa00; 
}

.section-slide-menu-2 .view-more-section{
    justify-self: center;
    grid-row: 4 / 5;
    grid-column: 1 / 6;
    border: 2px #4a1d1f solid;
    margin-top: 50px;
    margin-right: 180px;
    height: 40px;
    width: 160px;
    display: grid;
}

.view-more-section a{
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: #4a1d1f;
}




/* Javier - end */


/* Kounghwan - start */

/* Kounghwan - end */