*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* Jade - start */

/* Jade - end */


/* Javier - start */

/* Javier - end */


/* Kounghwan - start */

/* Kounghwan - end */