*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* Jade - start */
.about-bakery{
    width: 100vw;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 470px 470px;
    padding: 120px 120px 0 120px;
    gap: 40px;
}

.about-bakery a,
.order-cake-section a{
    text-decoration: none;
}

.about-desc h3{
    color: #4a1d1f;
    padding: 20px 0;
    font-size: 38px;
    font-weight: 500;
}

.about-desc p{
    font-size: 19px;
    font-weight: 300;
    padding-bottom: 20px;
}

.about-desc a{
    color: #4a1d1f;
    font-size: 18px;
    font-weight: 300;
}

.about-img-wrapper img{
    width: 600px;
    height: 300px;
    border-radius: 30px;
}

.img-right{
    text-align: right;
}

.img-left{
    text-align: left;
}

.order-cake-section{
    width: 100vw;
    background-color: #ffefbd;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 60px 0;
    text-align: center;
    gap: 20px;
}

.order-cake-section h3{
    font-size: 30px;
    color: #4a1d1f;
}

.order-cake-section p {
    font-size: 17px;
    font-weight: 300;
}

.order-cake-section > div,
.order-cake-section a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-cake-section a{
    width: 180px;
    height: 50px;
    background-color: #4a1d1f;
    color: #ffffff;
    border-radius: 10px;
}

.quotes-section{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto 200px;
    width: 100vw;
    background-color: #ffffff;
    padding: 80px 180px;
}

.quotes-section > div{
    justify-self: center;
}

.quotes-title{
    width: 85px;
    height: 22px;
    border-radius: 10px;
    background-color: #ffefbd;
    text-align: center;
}

.quotes-wrapper{
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 80px;
}

.quotes-wrapper > div{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 200px;
}

.quotes-left{
    align-self: baseline;
    position: relative;
    top: -52px;
    left: 70px;
    background: linear-gradient(to bottom, #fdcb5d 0%, #fdcb5d 10%, #ffffff 50%, #ffffff 100%);
    background-clip: text;
    color: transparent;
    z-index: 1;
}

.quotes-right{
    align-self: end;
    position: relative;
    top: -160px;
    right: 90px;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 20%, #fdcb5d 50%, #fdcb5d 100%);
    background-clip: text;
    color: transparent;
}

.quotes-wrapper > p{
    position: relative;
    font-size: 50px;
    font-weight: 500;
    z-index: 2;
}

.quotes-speaker{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.quotes-speaker img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.quotes-speaker h4{
    font-size: 28px;
    font-weight: 600;
    color: #4a1d1f;
}

.quotes-speaker .dots-wrapper{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.quotes-speaker .dots{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffefbd;
}

.quotes-speaker .dots:nth-child(2){
    background-color: #4a1d1f;
}
/* Jade - end */


/* Javier - start */
header{
    display: flex;
    background-color: skyblue;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 50px;

}

header a svg{
    width: 20px;
    fill: white;  
}

header nav ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    flex-basis: 50px;
}

header ul li a{
    text-decoration: none;
    color: black;
}
/* Javier - end */


/* Kounghwan - start */

/* Kounghwan - end */