*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* Jade - start */
.about-bakery{
    width: 100vw;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 470px 470px;
    padding: 120px 120px 0 120px;
    gap: 40px;
}

.about-bakery a,
.order-cake-section a,
footer a{
    text-decoration: none;
}

.about-desc h3{
    color: #4a1d1f;
    padding: 20px 0;
    font-size: 38px;
    font-weight: 500;
}

.about-desc p{
    font-size: 19px;
    font-weight: 300;
    padding-bottom: 20px;
}

.about-desc a{
    color: #4a1d1f;
    font-size: 18px;
    font-weight: 300;
}

.about-img-wrapper img{
    width: 600px;
    height: 300px;
    border-radius: 30px;
}

.img-right{
    text-align: right;
}

.img-left{
    text-align: left;
}

.order-cake-section{
    width: 100vw;
    background-color: #fff3d0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 60px 0;
    text-align: center;
    gap: 20px;
}

.order-cake-section h3{
    font-size: 30px;
    color: #4a1d1f;
}

.order-cake-section p {
    font-size: 17px;
    font-weight: 300;
}

.order-cake-section > div,
.order-cake-section a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-cake-section a{
    width: 180px;
    height: 50px;
    background-color: #4a1d1f;
    color: #ffffff;
    border-radius: 10px;
}

.quotes-section{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto 200px;
    width: 100vw;
    background-color: #ffffff;
    padding: 80px 180px;
}

.quotes-section > div{
    justify-self: center;
}

.quotes-title{
    width: 85px;
    height: 22px;
    border-radius: 10px;
    background-color: #fff3d0;
    text-align: center;
}

.quotes-wrapper{
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 80px;
}

.quotes-wrapper > div{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 200px;
}

.quotes-left{
    align-self: baseline;
    position: relative;
    top: -52px;
    left: 70px;
    background: linear-gradient(to bottom, #fdcb5d 0%, #fdcb5d 10%, #ffffff 50%, #ffffff 100%);
    background-clip: text;
    color: transparent;
    z-index: 1;
}

.quotes-right{
    align-self: end;
    position: relative;
    top: -160px;
    right: 90px;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 20%, #fdcb5d 50%, #fdcb5d 100%);
    background-clip: text;
    color: transparent;
}

.quotes-wrapper > p{
    position: relative;
    font-size: 50px;
    font-weight: 500;
    z-index: 2;
}

.quotes-speaker{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.quotes-speaker img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.quotes-speaker h4{
    font-size: 28px;
    font-weight: 600;
    color: #4a1d1f;
}

.quotes-speaker .dots-wrapper{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.quotes-speaker .dots{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff3d0;
}

.quotes-speaker .dots:nth-child(2){
    background-color: #4a1d1f;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff3d0;
    width: 100vw;
    height: 250px;
    color: #000000;
}

.footer-nav-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 60px 70px 30px 70px;
}

footer h4{
    color: #4a1d1f;
    font-size: 30px;
    font-weight: 400;
}

footer nav{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
}

footer ul{
    display: flex;
    gap: 60px;
    list-style: none;
}

footer ul a:link,
footer ul a:active,
footer ul a:visited{
    color: #000000;
}

#footer-line{
    border-bottom: 1px solid #4a1d1f2d;
    display: inline-block;
    width: 100%;
}

footer div nav,
footer div p{
    font-size: 18px;
}

.footer-copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 32px 70px;
}

.icons{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: 1fr;
    gap: 24px;
    margin-top: auto;
    margin-right: 40px;
}

.icons img{
    width: 20px;
}

/* Jade - end */


/* Javier - start */
header{
    display: flex;
    background-color: skyblue;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 50px;

}

header a svg{
    width: 20px;
    fill: white;  
}

header nav ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    flex-basis: 50px;
}

header ul li a{
    text-decoration: none;
    color: black;
}

main section{
    display: grid;
    padding-top: 60px;
    grid-template-columns: 450px 750px;
    grid-template-rows: 400px 200px;
    justify-self: center;
}

section:first-of-type{
    background-image: linear-gradient(to right, #ffffff, #fefbf4, #fef9ed);
}


main section .left-side{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.left-side h3{
    color: #4a1d1f;
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 10px;
}

.left-side p{
    font-size: 20px;
    font-weight: 300;
}

.left-side a{
    text-decoration: none;
}

.left-side .order-menus{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 110px 120px;
    column-gap: 10px;
}

.left-side .order{
    background-color: #4a1d1f;
    border-radius: 3px;
    width: 110px;
    height: 30px;
    display: grid;

}

.left-side .order a{
    color: white;
    justify-self: center;
    align-self: center;

}

.left-side .menus{
    background-color: white;
    border: 1px #4a1d1f solid;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    display: grid;
}

.left-side .menus a{
    justify-self: center;
    align-self: center;
}

main section .right-side{
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 /3;

}

main section .right-side img{
    width: 600px;
    position: absolute;
    justify-self: center;
}

.right-side .slide-1{
    background-color: skyblue;
    border-radius: 80px 0px 0px 80px;
    height: 160px;
    width: 750px;
    display: grid;
    grid-template-columns: 20px 50px 20px 180px 180px 180px;
    grid-template-rows: 120px;
    justify-content: end;
    position: absolute;
    z-index: 1;
    justify-self: end;
    align-self: end;
    column-gap: 10px;
    background-color: rgba(255, 250, 250, 0.585);
    padding: 20px;
    padding-right: 0px;
    color: #FFFFFF; 
}
.right-side .slide-1 fir-1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.right-side .slide-1 a{
    text-decoration: none;
    color: #4a1d1f;
    align-self: center;
}

.right-side .slide-1 p{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: #4a1d1f;
    align-self: center;
}

.right-side .slide-1 .image-slide-1{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.right-side .slide-1 .image-slide-2{
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}

.right-side .slide-1 .image-slide-3{
    grid-column: 6 / 7;
    grid-row: 1 / 2;
}

.right-side .slide-1 img{
    width: 180px;
    height: 100px;
    align-self: center;
    border-radius: 10px;
}

.h3-class{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    color: #4a1d1f;
    font-size: 38px;
    font-weight: 500;
    align-self: center;

}

.vertical-line{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 90px;
    width: 0px;
    border: 1px solid #4a1d1f;
    align-self: center;
    justify-self: end;
}

.p-class{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: center;
    padding: 0px 100px;
    
}




/* Javier - end */


/* Kounghwan - start */

/* Kounghwan - end */