*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* Jade - start */
.about-bakery{
    width: 100vw;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 470px 470px;
    padding: 120px 120px 0 120px;
    gap: 40px;
}

.about-bakery a,
.order-cake-section a{
    text-decoration: none;
}

.about-desc h3{
    color: #4a1d1f;
    padding: 20px 0;
    font-size: 38px;
    font-weight: 500;
}

.about-desc p{
    font-size: 19px;
    font-weight: 300;
    padding-bottom: 20px;
}

.about-desc a{
    color: #4a1d1f;
    font-size: 18px;
    font-weight: 300;
}

.about-img-wrapper img{
    width: 600px;
    height: 300px;
    border-radius: 30px;
}

.img-right{
    text-align: right;
}

.img-left{
    text-align: left;
}

.order-cake-section{
    width: 100vw;
    background-color: #ffefbd;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 60px 0;
    text-align: center;
    gap: 20px;
}

.order-cake-section h3{
    font-size: 30px;
    color: #4a1d1f;
}

.order-cake-section p {
    font-size: 17px;
    font-weight: 300;
}

.order-cake-section > div,
.order-cake-section a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-cake-section a{
    width: 180px;
    height: 50px;
    background-color: #4a1d1f;
    color: #ffffff;
    border-radius: 10px;
}
/* Jade - end */


/* Javier - start */
header{
    display: flex;
    background-color: skyblue;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 50px;

}

header a svg{
    width: 20px;
    fill: white;  
}

header nav ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    flex-basis: 50px;
}

header ul li a{
    text-decoration: none;
    color: black;
}

main section{
    display: grid;
    padding-top: 60px;
    grid-template-columns: 450px 750px;
    grid-template-rows: 400px 200px;
    justify-self: center;
}

section:first-of-type{
    background-image: linear-gradient(to right, #ffffff, #fefbf4, #fef9ed);
}


main section .left-side{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.left-side h3{
    color: #4a1d1f;
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 10px;
}

.left-side p{
    font-size: 20px;
    font-weight: 300;
}

.left-side a{
    text-decoration: none;
}

.left-side .order-menus{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 110px 120px;
    column-gap: 10px;
}

.left-side .order{
    background-color: #4a1d1f;
    border-radius: 3px;
    width: 110px;
    height: 30px;
    display: grid;

}

.left-side .order a{
    color: white;
    justify-self: center;
    align-self: center;

}

.left-side .menus{
    background-color: white;
    border: 1px #4a1d1f solid;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    display: grid;
}

.left-side .menus a{
    justify-self: center;
    align-self: center;
}

main section .right-side{
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 /3;

}

main section .right-side img{
    width: 600px;
    position: absolute;
    justify-self: center;
}

.right-side .slide-1{
    background-color: skyblue;
    border-radius: 80px 0px 0px 80px;
    height: 160px;
    width: 750px;
    display: grid;
    grid-template-columns: 20px 50px 20px 180px 180px 180px;
    grid-template-rows: 120px;
    justify-content: end;
    position: absolute;
    z-index: 1;
    justify-self: end;
    align-self: end;
    column-gap: 10px;
    background-color: rgba(255, 250, 250, 0.585);
    padding: 20px;
    padding-right: 0px;
    color: #FFFFFF; 
}
.right-side .slide-1 fir-1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.right-side .slide-1 a{
    text-decoration: none;
    color: #4a1d1f;
    align-self: center;
}

.right-side .slide-1 p{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    color: #4a1d1f;
    align-self: center;
}

.right-side .slide-1 .image-slide-1{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.right-side .slide-1 .image-slide-2{
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}

.right-side .slide-1 .image-slide-3{
    grid-column: 6 / 7;
    grid-row: 1 / 2;
}

.right-side .slide-1 img{
    width: 180px;
    height: 100px;
    align-self: center;
    border-radius: 10px;
}

.h3-class{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    color: #4a1d1f;
    font-size: 38px;
    font-weight: 500;
    align-self: center;

}

.vertical-line{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 90px;
    width: 0px;
    border: 1px solid #4a1d1f;
    align-self: center;
    justify-self: end;
}

.p-class{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: center;
    padding: 0px 100px;
    
}




/* Javier - end */


/* Kounghwan - start */

/* Kounghwan - end */